@font-face {
  font-family: 'Syncopate', sans-serif;
  src: url('assets/fonts/Syncopate-Bold.woff2') format('woff2'),
  url('assets/fonts/syncopate-bold-webfont.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('assets/fonts/RobotoCondensed-Regular.woff') format('woff');
  font-style: normal;
}

:root {
  --nightblue:#10121B ;
  --almostblack:#040404;
  --almostwhite:#F4F4F4;
  --almostwhitetrans: #f4f4f4e1;
  --spacegrade: linear-gradient(to right, #345785 0%, #743aa0 100%);
  --gray:#777777;
  --glass: #0000007e;
  --transparent: #00000000;
  --newgray: #1f1f1f;
}

* {
  box-sizing: border-box;
}

html {
    font-size: 87.5%; /*14px*/
    height: 100%;
    width: 100%;
}

body {
  background-color: var(--almostblack);
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.page-title{
  margin: 0.25em auto;
  text-align: center;
  justify-content: center;
}

.Syncopate {
  font-family: 'Syncopate', sans-serif;
  color: var(--almostwhite);
}

.Roboto {
  font-family: 'Roboto', sans-serif;
  color: var(--almostwhite);
}

a, button {
  border-radius: 2em;
  background: var(--spacegrade);
  transition: 0.5s;
}

.a {
  display: inline-flex;  
  border-radius: 2em;
  background: var(--almostblack);
  transition: 0.5s;
  width: fit-content;
  margin: 1em;
  padding: 0.25em 1em;
}

.a:hover {
  border-radius: 2em;
  background: var(--transparent);
  color: var(--almostwhite);
}

.button {
  border-radius: 2em;
  background: var(--almostblack);
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.button:hover {
  background: var(--transparent);
}

.man {
  position: absolute;
  z-index: -1;
  width: 20em;
  right: 100%;
}

.space {
  position: absolute;
  height: 100%;
  z-index: -3;
  right: 0;
}

.earth {
  position: absolute;
  height: 100vh;
  right: 0px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: -2;
}

.centered {
  display: flex;
  justify-content: center;
}

.left {
  display: flex;
  justify-content: left;
}

.right {
  display: flex;
  justify-content:right;
}

p {
  margin: 2em 3em;
  line-height: 1.6em;
}

.link-icon {
  width: 1em;
  margin: 0 0.5em;
}

.content-section {
  width: fit-content;
  text-align: center;
  justify-content: center;
  border: 1px solid var(--gray);
  border-radius: 2em;
  margin: 2em auto;
  padding: 1em;
}




#header {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1%;
  padding: 0 7%;
  height: 10vh;
}

.brand {
  margin: auto 0 0.5em;
  line-height: 1em;
}

.sm-link {
  margin: auto 1em 0.5em;
  background: var(--transparent);
}

.sm-icons {
  width: 3em;
  fill: var(--almostwhite);
  cursor: pointer;
  transition: 0.5s;
}

.sm-icons:hover {
  fill: #345785;
}

.l21 {
  width: 2em;
  height: 2em;
  padding: 0;
  margin: auto 1em 0.5em;
  border-radius: 2em;
  box-sizing: border-box;
  border: 1px solid var(--transparent);
}




#center {
  padding: 0 7%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 72vh;
  width: 100vw;
  box-sizing: border-box;
  border: 1px solid var(--gray);
  border-radius: 2em;
}

.content-box {
  margin: 3% 0;
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2em;
  background-color: var(--glass);
}

#home {
  display: block;
}

.home-text {
  height: fit-content;
  width: fit-content;
  margin: 5em auto auto 0;
}

#music {
  opacity: 0;
}

#line1, #line2, #line3, #line4 {
  opacity: 0;
}

.headline {
  height: 8em;
  line-height: 1em;
  text-align: center;
}

.cta {
  margin: 2em 0 2em;
  background: var(--spacegrade);
  background-clip: text;
  color: transparent;
  text-align: center;
}




#about-us {
  display: none;
  opacity: 0;
}




#projects {
display: none;
opacity: 0;
height: 100%;
overflow-y: auto;
}

.project-row {
display: flex;
justify-content: center;
}

.project-selector {
fill: var(--almostwhite);
margin: 0.5em;
height: 2em;
width: 2em;
cursor: pointer;
transition: 0.5s;
}

.project-selector:hover {
fill: var(--almostwhite);
}

.project-arrows {
width: 2em;
height: 2em;
fill:  var(--almostwhite);
margin: 2em;
cursor: pointer;
transition: 0.5s;
}

.project-arrows:hover {
fill:  var(--almostwhite);
}

.project-name {
margin: 0.25em auto;
}

#project-name-0 {
display: inline-block;
}

#project-name-1 {
display: none;
}

#project-name-2 {
display: none;
}

.project-img-preview {
width: 25%;
height: 50%;
border: 1px solid var(--gray);
margin: 1em 3em;
fill: var(--almostwhite);
}

#project-0-details {
display: block;
}

#project-1-details {
display: none;
opacity: 0;
overflow-y: auto;
}

#project-2-details {
display: none;
opacity: 0;
overflow-y: auto;
}

#project-scroll-area {
display: block;
}

.project-img {
opacity: 0.5;
border-radius: 16px;
height: 7em;
width: 7em;
margin: auto;
border: 1px solid var(--gray);
}




#contact-us {
display: none;
opacity: 0;
}

input, textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--almostwhite);
  line-height: 1.5em;
  width: 25em;
  margin: 0.5em;
  border: 1px solid var(--almostwhite);
  background-color: var(--transparent);
  border-radius: 2em;
}

.form-column {
  display: inline-block;
  padding: 1.5em;
  border-left: 1px solid var(--newgray);
}

.form-row {
  display: block;
  margin: 0.5em 0;
}

textarea {
  height: 10em;
  border-radius: 1em;
}

.form-btn {
  padding: 0rem;
  margin: 3.5px auto;
  width: 11em;
  box-sizing: border-box;
  border: 1px solid var(--transparent);
}

.form-btn-txt {
  padding: 0;
  margin: 0 0.5em;
  display: inline-block;
}

.form-btn-icn {
  display: inline-block;
  vertical-align: sub;
  padding: 0%;
  width: 1em;
  height: 1em;
}




#priv-policy {
display: none;
opacity: 0;
}




#footer {
padding: 0 7%;
height: 16vh;
}

.nav-button, .priv-policy-btn {
padding: 0rem;
margin: 3.5px auto;
width: 10em;
box-sizing: border-box;
border: 1px solid var(--transparent);
}

.nav-logo {
display: inline-block;
vertical-align: sub;
padding: 0%;
width: 1em;
height: 1em;
}

.nav-text {
display: inline-block;
padding: 0%;
margin: 0;
}

.pp-text {
display: inline-block;
font-size: 0.889rem;
padding: 0%;
margin: 0;
}

.pp-logo {
display: inline-block;
vertical-align: sub;
margin: 0.2rem;
width: 1em;
height: 1em;
}




@media only screen and (max-width: 600px) {

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
}

h2 {font-size: 1.602rem;}

h3 {font-size: 1.424rem;}

h4, .brand {font-size: 1.266rem;}

h5, button, .nav-button {font-size: 1.125rem;}

small, .text_small {font-size: 0.889rem;}

.l21 {
  margin: auto 3.5px 10px 0px;
  width: 19px;
  height: 19px;
}

.headline {
  height: 50px;
}

#footer {
  padding: 0 2%;
}

.nav-logo {
  display: inline;
  vertical-align: baseline;
  margin: 0 0.18em;  
  width: 14px;
  height: 14px;
}

.nav-button {

  margin: 0;
  width: 10em;
}

.sm-link {
  margin: auto 7px 3.5px 3.5px;
}

.sm-icons {
  margin: auto 3.5px 3.5px;
  width: 17px;
  height: 17px;
}
}

@media only screen and (min-width: 600px) {

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4, .brand {font-size: 1.44rem;}

h5, button, .nav-button {font-size: 1.2rem;}

small, .text_small {font-size: 0.833rem;}  

.l21 {
  width: 19px;
  height: 19px;
}

.headline {
  height: 80px;
}

.nav-logo {
  margin: 1px auto;
  width: 21px;
  height: 21px;
}

.nav-button {
  margin: 1% 0;
  width: 50%;
}

.sm-icons {
  margin: 5% 3% 0;
  width: 17px;
  height: 17px;
}
}

@media only screen and (min-width: 992px) {

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4, .brand {font-size: 1.563rem;}

h5, button, .nav-button {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}


.l21 {
  width: 25px;
  height: 25px;
}

.headline {
  height: 95px;
}

.nav-button {
  margin: 1% 4%;
  width: 15%;
}

.sm-icons {
  margin: 0 3% 0;
  width: 23px;
  height: 23px;
}  
}

@media only screen and (min-width: 1200px) {

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4, .brand {font-size: 1.777rem;}

h5, button, .nav-button {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}

.l21 {
  width: 28px;
  height: 28px;
}

.nav-logo {
  margin: 0.15rem;
  width: 18px;
  height: 18px;
}

.sm-icons {
  margin: 5% 3% 0;
  width: 26x;
  height: 26px;
}

}