:root {
    --nightblue:#10121B ;
    --almostblack:#040404;
    --almostwhite:#F4F4F4;
    --almostwhitetrans: #f4f4f4e1;
    --spacegrade: linear-gradient(90deg, #1D176C 0%, #7118B6 100%);
    --gray:#777777;
    --glass: #0000007e;
    --transparent: #00000000;
}


.l21 {
  border-radius: 139px;
  background: linear-gradient(145deg, #31383a, #292f31);
  box-shadow:  20px 20px 60px #191d1e, -20px -20px 60px #434b4e;
}

html {
  font-size: 100%;
  height: 100%;
  width: 100%;
} /*16px*/

body {
  background-color: var(--almostblack);
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.page-title{
  margin: 10px auto;
}

.Syncopate {
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  color: var(--almostwhite);
}

.Roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--almostwhite);
  line-height: 1.5em;
}

a, button {
  border: 1px solid var(--almostwhite);
  border-radius: 2em;
  background: var(--transparent);
  transition: 1s;
}

a:hover, button:hover {
  border: 1px solid var(--transparent);
  background: var(--spacegrade);
  color: var(--almostwhite)
}

a {
  margin: 2% 5%;
  padding: 2px 10px;
}

.button-logo {
  margin: 0px 0px -6px 2px;
  width: 30px;
  height: 30px;
}

.man {
  position: absolute;
  z-index: -1;
  width: 300px;
  right: 100%;
}

.space {
  position: absolute;
  height: 100%;
  z-index: -3;
  left: -79%;
}

.earth {
  position: absolute;
  top: -100%;
  bottom: -100%;
  right: 0px;
  z-index: -2;
}

.centered {
  display: flex;
  justify-content: center;
}

.left {
  display: flex;
  justify-content: left;
}

.right {
  display: flex;
  justify-content:right;
}

p {
  margin: 2% 5%;
}

.link-icon {
  width: 18px;
  margin: 0 3px;
}




#header {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1%;
  padding: 0 7%;
  height: 10%;
  background-color: var(--almostblack);
}

.brand {
  margin: 5% 0 auto;
}

.sm-icons {
  margin: auto 3%;
  width: 32px;
  fill: var(--almostwhite);
  transition: 0.5s;
}

.sm-icons:hover {
  fill: #7118B6;
}




#center {
  padding: 0 7%;
  position: relative;
  height: 72%;
  width: 100%;
  overflow: clip;
  box-sizing: border-box;
  border: 1px solid var(--gray);
  border-radius: 25px;
}

.content-box {
  margin: 3% 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: var(--glass);
}




#home {
  display: block;
  opacity: 0;
}

.headline {
  line-height: 1em;
  text-align: center;
  margin: 7% 0 2%;
}

.cta {
  margin: 1% 0 2%;
}

.headline2 {
  line-height: 1em;
  text-align: center;
  margin: 7% 0 2%;
  opacity: 0;
  display: none;
}

.cta2 {
  display: none;
  margin: 1% 0 2%;
}




#about-us {
  display: none;
  opacity: 0;
}




#projects {
  display: none;
  opacity: 0;
}

#project-1, #project-2, #project-3 {
  display: flex;
}

#project-1:hover, #project-2:hover, #project-3:hover {
  color: var(--almostblack);
  background-color: var(--almostwhitetrans);
}

.project-name-clm {
  margin: 2px;
}

.project-name {
  display: inline;
  margin: 5px 0 5px 5px;
}

.project-name-img {
  display: inline;
  width: 26px;
  margin-left: auto;
}

.project-grid {
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-gap: 0.5%;
}

.project-details {
  display: flex;
}

.project-1-details, .project-2-details, .project-3-details {
  opacity: 0;
  display: none;
}

.project-img-section {
  display: none;
}

.project-img {
  display: none;
  opacity: 0;
  height: auto;
  width: 80%;
  margin: 5% auto;
}




#contact-us {
  display: none;
  opacity: 0;
}

input, textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--almostwhite);
  line-height: 1.5em;
  margin: 4px;
  border: 1px solid var(--almostwhite);
  background-color: var(--transparent);
  border-radius: 20px;
}

label {
  margin: 10px 50px 10px 25px;
}

input {
  margin: 10px 50px 10px 25px;
}

textarea {
  margin: 10px 40px 10px auto;
  padding: 50px 250px;
}

.form-btn {
  margin: 10px 0;
  padding: 1px 25px;
  text-align: center;
}

.form-btn-txt {
  padding: 0;
  margin: 0 10px;
  display: inline;
}

.form-btn-icn {
  padding: 0;
  margin:0;  
  display: inline;
  width: 20px;
}




#priv-policy {
  display: none;
  opacity: 0;
}




#footer {
  padding: 0 7%;
  height: 16%;
  background-color: var(--almostblack);
}

.nav-button {
  padding: 0;
  margin: auto 4%;
  width: 15%;
  box-sizing: border-box;
  transition: 0.5s;
  text-align: center;
}

.nav-button:hover, .nav-button:focus {
  background: var(--spacegrade);
  border: 1px solid var(--transparent);
}

.nav-logo {
  display: inline;
  margin: 0;
  width: 20px;
  height: 20px;
}

.nav-text {
  display: inline;
}

.priv-policy-btn {
  padding: 0;
  margin: auto;
  width: 150px;
  box-sizing: border-box;
  border: 1px solid var(--transparent);
  line-height: 1em;
  transition: 0.5s;
}

.priv-policy-btn:hover, .priv-policy-btn:focus {
  background: var(--spacegrade);
}

.pp-text {
  display: inline;
  font-size: 0.889rem;
}

.pp-logo {
  display: inline;
  margin: 0px 0px 1px 0px;
  width: 16px;
  height: 16px;
}




@media only screen and (max-width: 600px) {

  p {margin-bottom: 1rem;}

  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-weight: 400, 700;
    line-height: 1.3;
  }
  
  h1 {
    margin-top: 0;
    font-size: 1.802rem;
  }
  
  h2 {font-size: 1.602rem;}
  
  h3 {font-size: 1.424rem;}
  
  h4, .brand {font-size: 1.266rem;}
  
  h5, button, .nav-button {font-size: 1.125rem;}
  
  small, .text_small {font-size: 0.889rem;}

  .earth {
    right: -200px;
  }

  .nav-logo {
    display: block;
    margin: 1px auto;
    width: 20px;
    height: 20px;
    color: var(--almostblack);
  }

  .nav-button {
    border: 0;
    padding: 0.7% 0;
    margin: 1% 0;
    width: 50%;
  }

  .sm-icons {
    margin: 5% 3% 0;
    width: 20px;
    height: 20px;
    fill: var(--almostwhite);
    transition: 0.5s;
  }
}

  
@media only screen and (min-width: 600px) {

  p {margin-bottom: 1rem;}

  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-weight: 400, 700;
    line-height: 1.3;
  }
  
  h1 {
    margin-top: 0;
    font-size: 2.488rem;
  }
  
  h2 {font-size: 2.074rem;}
  
  h3 {font-size: 1.728rem;}
  
  h4, .brand {font-size: 1.44rem;}
  
  h5, button, .nav-button {font-size: 1.2rem;}
  
  small, .text_small {font-size: 0.833rem;}  

  .earth {
    right: -150px;
  }

  .nav-logo {
    margin: 1px auto;
    width: 20px;
    height: 20px;
    color: var(--almostblack);
  }

  .nav-button {
    padding: 0.7% 0;
    margin: 1% 0;
    width: 50%;
  }

  .sm-icons {
    margin: 5% 3% 0;
    width: 16px;
    height: 16px;
    fill: var(--almostwhite);
    transition: 0.5s;
  }
}

@media only screen and (min-width: 992px) {
  
  p {margin-bottom: 1rem;}

  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-weight: 400, 700;
    line-height: 1.3;
  }

  h1 {
    margin-top: 0;
    font-size: 3.052rem;
  }

  h2 {font-size: 2.441rem;}

  h3 {font-size: 1.953rem;}

  h4, .brand {font-size: 1.563rem;}

  h5, button, .nav-button {font-size: 1.25rem;}

  small, .text_small {font-size: 0.8rem;}

  .earth {
    right: -50px;
  }

  .nav-button {
    padding: 0.7% 0;
    margin: 1% 4%;
    width: 15%;
  }
}

@media only screen and (min-width: 1200px) {

  p {margin-bottom: 1rem;}

  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-weight: 400, 700;
    line-height: 1.3;
  }
  
  h1 {
    margin-top: 0;
    font-size: 4.209rem;
  }
  
  h2 {font-size: 3.157rem;}
  
  h3 {font-size: 2.369rem;}
  
  h4, .brand {font-size: 1.777rem;}
  
  h5, button, .nav-button {font-size: 1.333rem;}
  
  small, .text_small {font-size: 0.75rem;}

  .earth {
    right: 0px;
  }

  .nav-logo {
    margin: 0 5px 0 10px;
    width: 20px;
    height: 20px;
  }

  .nav-button {
    text-align: center;
    padding: 0.7% 0;
    margin: 1% 4%;
    width: 15%;
  }

}