:root {
    --nightblue:#10121B ;
    --almostblack:#040404;
    --almostwhite:#F4F4F4;
    --spacegrade: linear-gradient(90deg, #1D176C 0%, #7118B6 100%);
    --gray:#777777;
    --glass: #0000007e;
}



html {
  font-size: 100%;
} /*16px*/

body {
  background-color: var(--almostblack);
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.page-title{
  margin: 1% auto;
}

.Syncopate {
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  color: var(--almostwhite);
}

.Roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--almostwhite);
}

button {
  border: 0px;
  background: var(--spacegrade);
  border-radius: 15px;
}

.button-logo {
  margin: 0px 0px -6px 2px;
  width: 30px;
  height: 30px;
}




#header {
  padding: 0 7%;
  height: 15%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1%;
  background-color: var(--almostblack);
}

.brand {
  margin: 0 10px;
}

.sm-icons {
  margin: 1%;
  width: 25%;
  height: 25%;
}




#center {
  padding: 0 7%;
  position: relative;
  height: 70%;
  width: 100%;
  overflow: clip;
  box-sizing: border-box;
  border: 1px solid var(--gray);
  border-radius: 25px;
}

.content-box {
  margin: 3% 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: var(--glass);
}




#home {
  display: none;
}

.headline {
  line-height: 1em;
  text-align: center;
  padding: 5% 0;
}

.cta-button {
  padding: 0.8% 2%;
}




#about-us {
  display: none;
}




#projects {
  display: flex;
}

.project-grid {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-gap: 1%;
  margin: 1%;
}

.project-details {
  display: none;
}

.project-img {
  height: auto;
  width: 100%;
  align-items: center;
}




#contact-us {
  display: none;
}

.centered {
  display: flex;
  justify-content: center;
}

.left {
  display: flex;
  justify-content: left;
}

.right {
  display: flex;
  justify-content: end;
}

.space {
  position: absolute;
  z-index: -2;
  left: -110%;
}

.earth {
  position: absolute;
  top: -100%;
  right: 0px;
  z-index: -1;
}




#footer {
  padding: 0 7%;
  height: 15%;
  background-color: var(--almostblack);
}

.nav-button {
  padding: 0.7% 0;
  margin: 1% 4%;
  width: 15%;
  box-sizing: border-box;
  border: 1px solid var(--spacegrade);
  border-radius: 15px;
  background: var(--almostwhite);
  color: var(--almostblack);
  line-height: 1em;
}

.nav-logo {
  margin: 2px 5px -3px 0px;
  width: 20px;
  height: 20px;
  color: var(--almostblack)
}





@media only screen and (max-width: 600px) {

  p {margin-bottom: 1rem;}

  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-weight: 400, 700;
    line-height: 1.3;
  }
  
  h1 {
    margin-top: 0;
    font-size: 1.802rem;
  }
  
  h2 {font-size: 1.602rem;}
  
  h3 {font-size: 1.424rem;}
  
  h4, .brand {font-size: 1.266rem;}
  
  h5, button, .nav-button {font-size: 1.125rem;}
  
  small, .text_small {font-size: 0.889rem;}

  .earth {
    right: -250px;
  }

  .nav-button {
    padding: 0.7% 0;
    margin: 1% 4%;
    width: 15%;
  }
}

@media only screen and (min-width: 600px) {

  p {margin-bottom: 1rem;}

  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-weight: 400, 700;
    line-height: 1.3;
  }
  
  h1 {
    margin-top: 0;
    font-size: 2.488rem;
  }
  
  h2 {font-size: 2.074rem;}
  
  h3 {font-size: 1.728rem;}
  
  h4, .brand {font-size: 1.44rem;}
  
  h5, button, .nav-button {font-size: 1.2rem;}
  
  small, .text_small {font-size: 0.833rem;}  

  .earth {
    right: -150px;
  }

  .nav-button {
    padding: 0.7% 0;
    margin: 1% 4%;
    width: 15%;
  }
}

@media only screen and (min-width: 992px) {
  
  p {margin-bottom: 1rem;}

  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-weight: 400, 700;
    line-height: 1.3;
  }

  h1 {
    margin-top: 0;
    font-size: 3.052rem;
  }

  h2 {font-size: 2.441rem;}

  h3 {font-size: 1.953rem;}

  h4, .brand {font-size: 1.563rem;}

  h5, button, .nav-button {font-size: 1.25rem;}

  small, .text_small {font-size: 0.8rem;}

  .earth {
    right: -50px;
  }

  .nav-button {
    padding: 0.7% 0;
    margin: 1% 4%;
    width: 15%;
  }
}

@media only screen and (min-width: 1200px) {

  p {margin-bottom: 1rem;}

  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-weight: 400, 700;
    line-height: 1.3;
  }
  
  h1 {
    margin-top: 0;
    font-size: 4.209rem;
  }
  
  h2 {font-size: 3.157rem;}
  
  h3 {font-size: 2.369rem;}
  
  h4, .brand {font-size: 1.777rem;}
  
  h5, button, .nav-button {font-size: 1.333rem;}
  
  small, .text_small {font-size: 0.75rem;}

  .earth {
    right: 0px;
  }

  .nav-button {
    padding: 0.7% 0;
    margin: 1% 4%;
    width: 15%;
  }

}